<div class="container mt-4">
    <h2>Available Trips</h2>
    <div class="row">
      <div *ngFor="let trip of trips" class="col-md-4 mt-3">
        <div class="card p-3">
          <h4>{{ trip.name }}</h4>
          <p><strong>Code:</strong> {{ trip.code }}</p>
          <p><strong>Length:</strong> {{ trip.length }} days</p>
          <p><strong>Price:</strong> ${{ trip.perPerson }}</p>
          <a [routerLink]="['/trips', trip.code]" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
  </div>  